*{
  margin: 0px auto;
  padding: 0px auto;
  overflow-x: hidden;
}
.navbar-dark {
  background-color:rgba(52,54,58,0.9);
  background: linear-gradient(to top, rgba(1,1,1,0.8),rgba(0,0,0,0.9));
}
.nav-link{
  font-size: 1.2rem;
  margin-right: 8px;
}
nav{
  font-size: 120%;
}
/* body{
  background-image: url('https://assets.nst.com.my/images/articles/asing.jpg_1519691648.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; 
  width: 100vw;
} */
form legend{
  font-size: 30px;
  color:#fff;
  font-weight: 600;
}
body{
  background: linear-gradient(to right, rgba(1,1,1,0),rgba(1,1,1,0.8)),url("../images/background.webp");  
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100vw;
  height:100vh;
  background-position: center;
  scrollbar-width: none;
}
body::-webkit-scrollbar{display: none;}
form{
  background: linear-gradient(to top, rgba(1,1,1,0.4),rgba(0,0,0,0.9));
  margin: 14vh 0vw 4vh 0vw;
  padding:20px 20px;
}
input{
  outline: none;
  box-shadow:none !important;
  border:none !important;
  border-radius: 0px !important;
  border-bottom:2px solid #fff !important;
  color: #fff !important;
}
.col-form-label{
  color: #fff;
  font-weight: 500;
  font-size: 110%;
}
.form-control{
  background-color: transparent;
  font-size:110%;
}
.btn{
  font-weight: 600;
}

.page-footer{
  background-color: #263238;
  color:#fff;
  font-size: 1.2rem;
}
.footer-copyright{
  background-color:#1e282d;
}
.form-control:focus{
  background-color: transparent;
}
form label{font-weight: bolder; color: rgb(247, 244, 242);}
form .form-control::placeholder{color: white;}
form .form-control{border: 1px solid white}
/* form .form-control:focus{background-color: rgb(228, 165, 106);} */

/* COMPACT CAPTCHA */

.capbox {
	background-color: #BBBBBB;
	background-image: linear-gradient(to bottom right, #e1e8f8,#BBBBBB,#477731 );
	/* border: #2A7D05 0px solid;
	border-width: 2px 2px 2px 10px; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 5px 8px 5px 8px;
  border-radius: 4px 4px 4px 4px;
  height: auto;
  width: auto;
  }
.capbox-inner {
	font: bold 12px arial, sans-serif;
	color: #000000;
	background-color: #E3E3E3;
	margin: 0px auto 0px auto;
	padding: 3px 10px 5px 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	}

#CaptchaDiv {
	color: #000000;
  font: normal 25px Impact, Charcoal, arial, sans-serif;
  /* font-variant:small-caps; */
  font-style: italic;
  text-decoration: line-through;
	text-align: center;
	vertical-align: middle;
	background:transparent;
	user-select: none;
	display: inline-block;
	padding: 3px 14px 3px 8px;
	margin-right: 4px;
	border-radius: 4px;
	}