@charset "utf-8";


.fa { display: inline-block; font-family:FontAwesome; font-size: 1.3em; /*text-rendering: auto;*/ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; /*padding:0 5px;*/ line-height:normal; vertical-align:middle; }
.fa-remove:before, .fa-close:before, .fa-times:before, .fa-minus:before { content: "\f00d"; }
.fa-print:before { content: "\f02f"; }
.fa-edit:before, .fa-pencil-square-o:before { content: "\f044"; }
.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before { content: "\f1c5"; }
.fa-check:before { content: "\f00c"; }
.fa-trash:before { content: "\f1f8"; }
.fa-unlock:before { content: "\f09c"; }
.fa-angle-double-down:before { content: "\f103"; }
.fa-forward:before { content: "\f04e"; }
.fa-chevron-right:before { content: "\f054"; }
.fa-chevron-left:before { content: "\f053"; }
.fa-backward:before { content: "\f04a"; }
.fa-sign-in:before { content: "\f090"; }
.fa-unlock-alt:before { content: "\f13e"; }
.fa-times-circle:before { content: "\f057"; }
.exclamation-triangle:before { content: "\f071"; }
.fa-check:before { content: "\f00c"; }
.fa-map-marker:before { content: "\f041"; }
.fa-unlock:before { content: "\f09c"; }
.fa-user-secret:before { content: "\f21b"; }
.fa-user:before { content: "\f007"; }
.fa-exclamation-circle:before { content: "\f06a"; }
.fa-group:before, .fa-users:before { content: "\f0c0"; }
.fa-sign-out:before { content: "\f08b"; }
.fa-eye:before { content: "\f06e"; }
.fa-arrow-circle-o-right:before { content: "\f18e"; }
.fa-hand-o-up:before { content: "\f0a6"; }
.fa-clock-o:before { content: "\f017"; }
.fa-calendar:before { content: "\f073"; }
.fa-plus:before { content: "\f067"; }
.fa-bell:before { content: "\f0f3"; }
.fa-feed:before { content: "\f09e"; }
.fa-mobile-phone:before { content: "\f10b"; }
.fa-user-o:before { content: "\f2c0"; }
.fa-envelope-o:before { content: "\f003"; }
.fa-download:before { content: "\f019"; }
.fa-check-circle-o:before { content: "\f05d"; }
.fa-times-circle-o:before { content: "\f05c"; }
.fa-upload:before { content: "\f093"; }
.fa-arrow-circle-right:before { content: "\f0a9"; }
.fa-file-text-o:before { content: "\f0f6"; }
.fa-file-text:before { content: "\f15c"; }
.fa-paste:before, .fa-clipboard:before { content: "\f0ea"; }
.fa-legal:before, .fa-gavel:before { content: "\f0e3"; }
.fa-thumbs-up:before { content: "\f164"; }
.fa-times-circle:before { content: "\f057"; }
.fa-check:before { content: "\f00c"; }
.fa-remove:before, .fa-close:before, .fa-times:before { content: "\f00d"; }
.fa-print:before { content: "\f02f"; }
.fa-edit:before, .fa-pencil-square-o:before { content: "\f044"; }
.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before { content: "\f1c5"; }
.fa-angle-double-down:before { content: "\f103"; }
.fa-angle-down:before { content: "\f107"; }
.fa-chevron-right:before { content: "\f054"; }
.fa-angle-right:before { content: "\f105"; }
.fa-angle-up:before { content: "\f106"; }
.fa-map-marker:before { content: "\f041"; }
.fa-file-pdf-o:before { content: "\f1c1"; }
.fa-clone:before { content: "\f24d"; }
.fa-feed:before { content: "\f09e"; }
.fa-user-o:before { content: "\f2c0"; }
.fa-minus-square-o:before { content: "\f147"; }
.fa-plus-square-o:before { content: "\f196"; }
.fa-file-text-o:before { content: "\f0f6"; }
.fa-search-plus:before { content: "\f00e"; }
.fa-print:before { content: "\f02f"; }
.fa-envelope-open:before { content: "\f2b6"; }
.fa-phone-square:before { content: "\f098"; }
.fa-internet-explorer:before { content: "\f26b"; }
.fa-address-card:before { content: "\f2bb"; }
.fa-envelope:before { content: "\f0e0"; }
.fa-volume-control-phone:before { content: "\f2a0"; }
.fa-envelope-open:before { content: "\f2b6"; }
.fa-chevron-circle-down:before { content: "\f13a"; }
.fa-chevron-circle-up:before { content: "\f139"; }
.fa-skype:before { content: "\f17e"; }
.fa-fax:before { content: "\f1ac"; }
.fa-linkedin-square:before { content: "\f08c"; }
.fa-navicon:before { content: "\f0c9"; color:#539dcc; }
.fa-dashboard:before, .fa-tachometer:before { content: "\f0e4"; }
.fa-circle:before { content: "\f111"; }
.fa-circle-o:before { content: "\f10c"; }
.fa-calendar:before { content: "\f073"; }
.fa-file-excel-o:before { content: "\f1c3"; }
.fa-rotate-left:before, .fa-undo:before { content: "\f0e2"; }
.fa-angle-double-left:before { content:"\f100" }
.fa-angle-double-right:before { content:"\f101" }
.fa-angle-left::before {content: "\f104";}
.fa-arrow-left:before { content: "\f060"; }
.fa-list-alt:before { content: "\f022"; }
.fa-user-secret:before { content: "\f21b"; }
.fa-credit-card:before { content: "\f09d"; }
.fa-info-circle:before { content: "\f05a"; }
.fa-phone:before {content: "\f095";}
.fa-key:before { content: "\f084"; }
.fa-paperclip:before { content: "\f0c6"; }
/********* Reset CSS *********/
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block }
audio, canvas, video { display:inline-block }
audio:not([controls]) {display:none;height:0}
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust:  100%; height:100%; }
a { text-decoration:underline; color:#136fa9; }
a:focus { outline:thin dotted }
a:hover, a:active { outline: 0; }
a:hover { text-decoration:none; color:#393939; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; }
b, strong, dt, th { font-weight: bold; }
em, i { font-style:italic; }
p, h1, h2, h3, h4, h5, h6, ul, ol, dd, table, fieldset, address { margin:0; padding:0; }
img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; max-width:100%; height:auto; }
figure { margin:0; }
legend { white-space:normal; }
q { quotes:"\201C" "\201D" "\2018" "\2019" }
small { font-size:80% }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline }
sup { top:-0.5em }
sub { bottom:-0.25em }
table { border-collapse: separate; border-spacing: 0; width: 100%; empty-cells:show; border:none; }
table table { margin:0 }
th, td { border:none; padding:8px 10px }
caption, th, td { font-weight: normal; }
/********* Form fields *********/
button, input, select, textarea { margin: 0; vertical-align: baseline; background-color:transparent; border:none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; }
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], input[type="password"], input[type="search"], select, textarea { border:1px solid #e5e5e5; width:100px; height:30px; padding:0; font-size:100%; line-height:normal; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; margin:0 5px 0 0; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
input[type="radio"] { -webkit-appearance:radio }
input[type="submit"], input[type="button"], input[type="reset"], button, .button { line-height:22px; padding:3px 10px; display:inline-block; text-decoration:none; border:0 none; margin:0; outline:0 none; border-radius:3px; }
textarea { overflow:auto; vertical-align: top; resize:vertical; height:100px; max-width:100%; min-width:100%; max-height:500px; min-height:90px; }
fieldset { border:0 none; margin:0; padding:0 }
label { display:inline-block; padding-bottom:5px; font-weight:normal; }
/********* Clear floats *********/
.cf:before, .cf:after, .container:before, .container:after, .row:before, .row:after, ul:before, ul:after, .boxs:before, .boxs:after, .radioList:after, .radioList:before, #footer:before, #footer:after { content:" "; display:table }
.cf:after, .container:after, .row:after, ul:after, .boxs:after, .radioList:after, #footer:after { clear:both }
/********* Common Classes *********/
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:20px 0; padding:0 }
body, button, input, select, textarea { color:#555; font-family: 'open_sansregular'; font-size:87.5%; /*font-size:14px;*/ line-height:1.5; }
body { background-color:#fff; /*height:100%*/ }
h1 { font-size: 2.308em; }
h2 { font-size: 2.000em; }
h3 { font-size: 1.692em; }
h4 { font-size: 1.538em; }
h5 { font-size: 1.385em; }
h6 { font-size: 1.231em; }
ul { padding:0 0 0 15px; }
ol { padding:0 0 0 20px }
ul ul, ol ol { margin:10px 0 }
ul.bulletText { list-style:none; padding:0; }
ul.bulletText li { padding:2px 0 2px 15px; }
p, h1, h2, h3, h4, h5, h6, ul, ol, dd, table, fieldset, address { margin: 0 0 15px; }
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], input[type="password"], input[type="search"], select, textarea { border:1px solid #c0daec; width:100%; padding:5px 10px; background:#fff; }
input[type="submit"], input[type="reset"], input[type="button"], button, .button { background-color:#2E79B3; color:#fff; border:1px solid #539dcc; text-transform:none; font-family: 'open_sanssemibold'; font-size:1.071em; height: 30px; line-height: normal; }
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, .button:hover { color:#fff; background-color:#003f7a; }
a.closeBtn:hover { color:#fff; background-color:#003f7a; }
input[type="submit"].cancelBtn, input[type="button"].cancelBtn, input[type="reset"].cancelBtn { background-color:#888; }
.alignLeft { float:left }
.alignRight { float:right; }
.displayNone, .hasJS noscript, .hideThis { display:none!important; visibility:hidden }
.jsRequired { display:block; background-color:#C00; color:#fff; width:100%; line-height:30px; text-align:center; font-size:12px; border:0 none; }
.mrgAuto { margin-right:auto; margin-left:auto; }
.mrgT20 { margin-top:20px; }
.mrgT25 { margin-top:25px; }
.mrgL20 { margin-left:20px; }
.mrgR20 { margin-right:20px; }
.mrgR50 { margin-right:50px; }
.mrgB20 { margin-bottom:20px; }
.mrgB50 { margin-bottom:50px; }
.mrgT10 { margin-top:10px; }
.mrgL5 { margin-left:5px; }
.mrgL10 { margin-left:10px; }
.mrgR10 { margin-right:10px; }
.mrgB10 { margin-bottom:10px; }
.padL20 { padding-left:20px; }
.padR20 { padding-right:20px; }
.padB20 { padding-bottom:20px; }
.padT20 { padding-top:20px; }
.padL15 { padding-left:15px; }
.padR15 { padding-right:15px; }
.padB15 { padding-bottom:15px; }
.padT15 { padding-top:15px; }
.padL10 { padding-left:10px; }
.padR10 { padding-right:10px; }
.padB10 { padding-bottom:10px; }
.padT10 { padding-top:10px; }
.padTB10 { padding-top:10px; padding-bottom:10px; }
.padTB15 { padding-top:15px; padding-bottom:15px; }
.padTB20 { padding-top:20px; padding-bottom:20px; }
.pad10 { padding:10px; }
.pad15 { padding:15px; }
.pad20 { padding:20px; }
.pad25 { padding:25px; }
.pad30 { padding:30px; }
.width100p { width:100%;}
.width90p { width:90%; }
.width80p { width:80%; }
.width70p { width:70%; }
.width60p { width:60%; }
.width50p { width:50%; }
.width40p { width:40%; }
.width30p { width:30%; }
.width20p { width:20%; }
.width10p { width:10%; }
.fileSize { font-size:12px; display:inline-block; vertical-align:middle; margin-left:3px; }
.extIcon { vertical-align:middle; margin-left:3px; }
.rsIcon { display:inline-block; margin-right:2px; height:11px; text-indent:-999px; overflow:hidden; width:11px; }
.bold { font-weight:bold; }
.italic { font-style:italic; }
.longWord, .wordBreak { word-wrap: break-word; }
/********** Image Formating & Alignment **********/

.imgLeft { float:left; margin-right:20px; margin-bottom:20px; }
.imgRight { float:right; margin-left:20px; margin-bottom:20px; }
.imgCenter { float:none; margin-bottom:20px; margin-left:auto; margin-right:auto; display:block; }
.imgBorder { border:1px solid #ccc; padding:5px }
.rounded { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.circle { -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; }
.shadow { -webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2); box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2); padding:4px; }
/********** Alignment **********/

.left { text-align:left !important }
.right { text-align:right !important }
.center { text-align:center !important }
.justify { text-align:justify !important }
/********** Error/Alert Messages **********/

.message { padding:10px 38px 10px 10px; margin-bottom:0px; border:1px solid transparent; position:relative; }
.message.success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.message.success a { color: #2b542c; }
.message.error { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.message.error a { color: #843534; }
/** Added by nishabh for cakephp default validation message **/
form.error-message { color: red; font-weight: bold; }
/********** Table **********/

.tableOut { overflow-y:hidden; overflow-x:auto }
table, .tableData { border-collapse: separate; border-spacing: 0; width: 100%; empty-cells:show; border:none; border-top:1px solid #d1d1d1; border-left:1px solid #d1d1d1; }
table table, .tableData table { margin:0 }
th, td, .tableData th, .tableData td { border:none; padding:8px 10px; border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; }
.tableData th { border-bottom:1px solid #bcbcbc; border-right:1px solid #bcbcbc; }
table tr:nth-child(odd) td, .tableRowOdd {background-color:#efefef;}
caption, th, td { font-weight: normal; background:#fff }
th, .tableData th { background:#f3f3f3 }
.tableScroll { overflow-y:hidden; overflow-x:auto }
/* ******** Grid : 12 Coloum and Boxs ******** */

.example div div, .example .boxs li { border:1px solid #eee; margin-bottom:15px; padding-top:15px; padding-bottom:15px }
.row { margin:0 0 20px; }
.cols1, .cols2, .cols3, .cols4, .cols5, .cols6, .cols7, .cols8, .cols9, .cols10, .cols11, .cols12 { float:left; padding-left:15px; padding-right:15px; }
.cols12 { width:100% }
.cols11 { width:91.66666667% }
.cols10 { width:83.33333333% }
.cols9 { width:75% }
.cols8 { width:66.66666667% }
.cols7 { width:58.33333333% }
.cols6 { width:50% }
.cols5 { width:41.66666667% }
.cols4 { width:33.33333333% }
.cols3 { width:25% }
.cols2 { width:16.66666667% }
.cols1 { width:8.33% }
.boxs { list-style:none; padding:0; margin:0; }
.boxs2 { margin-left:-2%; }
.boxs3 { margin-left:-2%; }
.boxs4 { margin-left:-2%; }
.boxs5 { margin-left:-2%; }
.boxs6 { margin-left:-2%; }
.boxs > li, .boxs > div { float:left; min-height:1px; margin-left:30px; }
.boxs2 > li, .boxs2 > div { width:48%; margin-left:2%; }
.boxs3 > li, .boxs3 > div { width:31%; margin-left:2%; }
.boxs4 > li, .boxs4 > div { width:23%; margin-left:2%; }
.boxs5 > li, .boxs5 > div { width:18%; margin-left:2%; }
.boxs6 > li, .boxs6 > div { width:14.6%; margin-left:2%; }
.boxBorder { padding:5px; border:1px solid #ccc; }
/********* Navigation *********/

.mainNavigation { margin:0; position:relative; /*float:right*/ }
.toggleMenu { display:none; padding:15px; text-decoration:none }
.toggleMenu .mobileMenu { font-size:/*1.250em*/13px; color:#000000; }
.toggleMenu .iconBar { float:right; width:25px; height:25px; background:url(../mobile-menu.png) no-repeat center center; }
#nav, #nav ul { list-style:none; margin:0; padding:0;  }
#nav li { float:left; margin:0; padding:0; position:relative; display:inline-block; }
#nav li a { /*padding:5px 10px;*/ line-height:25px; color:#ffffff; font-size:/*1.067em*/16px; display:inline-block; text-decoration:none; text-transform: none; font-family: 'open_sanssemibold'; margin:5px 10px; }
#nav ul { width:200px; top:100%; padding:0; left:-18px; position:absolute; margin:0; padding:0; }
.hasJS #nav ul { opacity:0; transition: opacity 400ms linear; -webkit-transition: opacity 400ms linear; }
#nav ul li { float:left; height:auto; width:100%; margin:0; padding:0; }
#nav ul li a { display:block; background-color:#2a7ab9; font-size:1em; line-height:24px; color:#FFF; border:none; border-top:1px solid #3D8BCB; padding:5px 10px; text-align:left; }
#nav ul ul { top:0; left:300px }
#nav ul a:hover, .noJS #nav ul a:focus, #nav ul a.selected { color:#7fb6e9 }
#nav ul, #nav :hover ul ul, #nav .hover ul ul, #nav .focus ul ul { margin-left:-9999px }
#nav li:hover > ul, #nav li.hover > ul, #nav li.focus > ul, #nav a:focus + ul, #nav ul ul, .noJS #nav .hover a:focus, .noJS #nav .focus a:focus { margin-left:0 }
#nav > li > a:hover, #nav > li.hover > a, #nav > li.focus > a, #nav > .highlight > a { color:#2a7ab9; }
#nav li ul li a:hover, #nav li ul li > a.selected, #nav ul a:hover, .noJS #nav ul a:focus, #nav ul a.selected, #nav ul > .highlight > a { background-color:#539dcc; color:#FFF }
#nav ul li.focus > a { background-color:#e9e9e9; color:#060613; display:block; }
#nav .menuIcon { display:none; position:absolute; right:5px; top:20px; width:9px; height:9px; }
#nav li .menuIcon { z-index:10 }
#nav li li .menuIcon { display:block; top:13px; right:10px; z-index:11 }
#nav li li li .menuIcon { z-index:12 }
#nav li .menuIcon.active { transform:rotate(180deg); -webkit-transform:rotate(180deg); }
.noJS #nav ul a:focus { width:200px; }
.noJS #nav ul a:focus, .noJS #nav ul a:focus + ul { margin-left:9999px }
.noJS #nav ul a:active { margin-left:0 }
.hasJS .menuPart #nav a:focus + ul, .hasJS .menuPart #nav li.focus > ul, .hasJS .menuPart #nav li.hover > ul, .hasJS .menuPart #nav li:hover > ul, .hasJS .menuPart #nav ul ul { opacity: 1; }
#nav li li a { margin:0; }
/* ******** Index Slider ******** */

.indexBanner { position:relative }
.indexBanner .sliderBanner .item { height:300px; }
.noJS .indexBanner { height:302px; overflow:hidden }

/********** Responsive Tab **********/

.resTab { position: relative; border:1px solid #00c5ad; }
.resTab .tabNav { margin:0; padding: 0; list-style:none }
.resTab .tabNav li { display: inline-block; margin: 0; position: relative; background-color: #00c5ad; }
.resTab .tabNav li a { display: inline-block; padding: 10px 12px; text-decoration: none; font-size: 14px; font-weight: bold; color: #fff; }
.resTab .tabNav .r-tabs-state-active a { color: #00c5ad; text-shadow: none; background-color: white; }
.resTab .tabContent { padding: 15px; display: none; }
.resTab .r-tabs-panel.r-tabs-state-active { display: block; }
.resTab .r-tabs-accordion-title { display:none; }
.resTab .tabNav .r-tabs-state-disabled { opacity: 0.5; }
.resTab .r-tabs-accordion-title .r-tabs-anchor { display: block; padding: 10px; background-color: #00c5ad; color: #fff; font-weight: bold; text-decoration: none; }
.resTab .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor { background-color: #fff; color: #00c5ad; text-shadow: none; }
.resTab .r-tabs-accordion-title.r-tabs-state-disabled { opacity: 0.5; }
.noJS .resTab .tabContainer { height:150px; overflow:hidden }
.noJS .resTab .tabContent { display:block; height:150px }
.tabNavi li.r-tabs-state-active a { background:#2a7ab9; color:#fff; }
/********* Back to Top **********/

#backtotop { background:url(../img/backtotop.png) no-repeat; cursor:pointer; display:none; height:36px; width:36px; overflow:hidden; position:fixed; right:10px; bottom:70px; text-indent:-99999px; z-index:999; display:none }
/*********  Accordion ******** */

.accordion { margin-bottom:20px; }
.accordion .accTrigger { background:url(../img/plus.png) left 5px no-repeat; padding-left:20px; cursor:pointer; font-weight:bold }
.noJS .accordion .accTrigger { background:none; padding-left:0 }
.accordion .accTrigger a { display:block; text-decoration:none; outline:0 }
.accordion .accTrigger.active { background:url(../img/minus.png) left 5px no-repeat !important; }
.accordDetail { padding:10px 20px; display:none }
.noJS .accordDetail { display:block; padding:10px 0 }

/*==========================================================================================================================*/
/*================================================ Main CSS Theme Start ====================================================*/
/*==========================================================================================================================*/

/********** Layout **********/

/*.container { margin:0 auto; width:100%; max-width:1170px;}*/
.container { margin: 0 auto; max-width: 100%; padding: 0 15px; width: 100%!important; }
#content { }
.content { }
.sidebar {  }
.fullWidth { }

#wrapperNav { background-color: #f1f1f1; z-index:1; position:relative; }
#breadCrumb { background-color: #fff; box-shadow: 0 1px 1px #eaeaea; padding: 10px 0; margin-bottom:10px; }
#breadCrumb ul { list-style: outside none none; margin: 3px 0 0 0; padding: 0; }
#breadCrumb ul li { float: left; color:#5a5a5a; padding: 0 10px 0 17px; position:relative; font-family: 'open_sanssemibold'; text-transform:none; font-size: 0.857em; }
#breadCrumb a { color:#2a7ab9; text-decoration:none; }
#breadCrumb a:hover { text-decoration:underline; color:#5a5a5a }
#breadCrumb li:before { content:" "; position:absolute; left:0; top:5px; z-index:auto; height:10px; width:10px; background:url(../img/right-arrow.png) left top no-repeat; overflow:hidden; }
#breadCrumb li:first-child:before { display:none; }
#footerLogoList { background-color: #f1f7fd; padding: 15px 0 5px 0; }
#footerLogoList ul { list-style: outside none none; margin: 0; padding: 0; }
#footerLogoList ul li { float: left; padding: 0; text-align: center; width: 25%; }
/*#footerLogoList ul li:first-child {margin-left: 20px;}*/

#footer { /*padding: 10px 0;*/ color:#FFFFFF; /*height:51px; float:left;*/ width:100%; position:inherit; /*position:absolute; left:0; bottom:0;*/ /*margin-top:15px;*/ z-index: 2; }
#footer p { font-size:13px; margin-bottom: 7px; color:#f5f5f5; margin-bottom:0; /*line-height:51px;*/ }
#footer .footerLeft { float:left; }
#footer .footerRight { float:right; padding: 8px 0; }
#footer ul { list-style:none; padding:0; margin:5px 0 7px; }
#footer li { float:left; padding:0 15px; position:relative; }
#footer a { color:#f5f5f5; text-decoration:none; /*font-size:0.929em*/ }
#footer a:hover { text-decoration:underline; color:#222; }
#footer li:first-child { padding-left:0; }
#footer li:last-child { padding-right:0; }
#footer li:before { content:" "; position:absolute; left:0; top:50%; z-index:auto; height:13px; width:1px; background:#FFFFFF; overflow:hidden; margin-top:-6px; }
#footer li:first-child:before { display:none; }
.rightLinks > li {/*padding: 10px 9px 11px;*/ }
.rightLinks > li.fontResize { padding: 8px 9px 9px; }
#wrapperContant { background-color: #fff; }
.langBlock { color: #5a5a5a; display: block; font-size: 0.786em; line-height: 15px; text-decoration: none; text-transform: none; padding:11px; background:url(../img/down-arrow.png) 98% center no-repeat; padding-right:20px; position:relative; cursor:pointer; }
.langOpen { display:none; background:#fff; }
.langList { width:150px; list-style:none; margin:0; padding:0; }
.langList li { border:none; padding:0; }
.langList li, .langList li a { display:block; }
.langList li a { padding:6px 10px; }
.langList li { float:none!important; }
.langOpen { position:absolute; top:38px; left:0; z-index:10; }
/*.topStrip li.langs li:before, .topStrip li.topLinks:before{ background:none!important;}*/
.langList li a:hover { background:#2a7ab9; text-decoration:none; color:#fff; }
.creload { background:url(../img/refresh-button.png) center center no-repeat; width:30px; height:26px; text-indent:-9999px; display:inline-block; background-size:50%; }

/*table comman css*/
caption, th, td { background: #fff none repeat scroll 0 0; font-weight: normal; }
th, .tableData th { background: #cde6ff none repeat scroll 0 0; }
table tr:nth-child(2n+1) td, .tableRowOdd {
background-color:#f1f1f1;
}
th, td, .tableData th, .tableData td { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: -moz-use-text-color #c0daec #c0daec -moz-use-text-color; border-image: none; border-style: none solid solid none; border-width: medium 1px 1px medium; padding:5px 10px; }
table, .tableData { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-collapse: separate; border-color: #c0daec -moz-use-text-color -moz-use-text-color #c0daec; border-image: none; border-spacing: 0; border-style: solid none none solid; border-width: 1px medium medium 1px; empty-cells: show; width: 100%; }
.captchaValidateMsg { position:relative; }
.captchaValidateMsg .error-message { position: absolute; left:0; bottom:-17px; }
.actRegi .signupField.signupFieldFull { position: relative; margin-top:25px; }
.actRegi .signupField.signupFieldFull .error-message { position: absolute; left:0; bottom: -17px; padding-left:28%; }
.loginForm .signupField.signupFieldFull .error-message { padding-left:31.9%; }
.linkBtn a, .linkText { color: #2a7ab9; display: inline-block; font-family: "open_sanssemibold"; font-size:12px; line-height:20px; text-decoration:underline; vertical-align: top; }
.linkBtn a.linkText { font-size:14px; }
.linkBtn a:hover, .linkText:hover { text-decoration:none; color:#363636; }


----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { /*zoom: 1;*/ }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/***********************************Sidebar**********************************/
a.navIcon { color: #006994; float: left; margin-top: 0; outline:0 none }
.mainPanel.hide { padding-left:0; transition: all 0.3s ease 0s; }
.mainPanel.leftPadRem { padding-left:20%; transition: all 0.3s ease 0s; min-height: 580px; }
.dash { background:#539dcc none repeat scroll 0 0; color: #fff; font-family: "open_sansbold"; font-size: 15px; text-transform: none; }
.accordion .link, .dash { border-bottom: 1px solid #539dcc; color:#fff; display: block; font-size: 14px; padding: 10px 15px; position: relative; transition: all 0.4s ease 0s; }
.assementBtn { border-radius: 3px; color: #fff !important; font-size: 12px; padding: 2px 10px; text-decoration: none !important; }
td .assementBtn { display: inline-block; margin-bottom: 5px; }
.sidePanel { width:20%; background:#f1f1f1; position:absolute; left:0%; /*top:125px;*/ top:inherit; height: calc(100% - 80px); z-index:1; /*height:100%;*/ position:absolute; overflow-x:auto; }
.accordianMenu { width:100%; }
.accordion { width: 100%; max-width: 100%; margin:0; padding:0; list-style:none; }
.accordion .link { cursor: pointer; display: block; padding: 10px 15px; color: #fff; font-size: 14px; border-bottom: 1px solid #acd5ee; position: relative; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; }
.accordion .link a { color:#333333; text-decoration:none }
/*.accordion li:last-child .link { border-b
ottom: 0; }*/
.accordion li i { position: absolute; top: 16px; left: 12px; font-size: 18px; color:#333; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; }
.accordion li.active { background:#0065a2; }
.accordion li i.fa-angle-down { right: 12px; left: auto; font-size: 16px; font-style: inherit; }
.accordion li i.fa-angle-right { font-style: inherit; }
.accordion li.openmenu .link { color: #fff; }
.accordion li.openmenu i { color:#333; }
.accordion li.openmenu i.fa-angle-down { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
/* Submenu */
.submenu { display: none; /* background: #EAF3FC; */ font-size: 14px; padding:0; margin:0; list-style:none; }
.submenu li { position:relative }
.submenu a { background: #ededed; display: block; text-decoration: none; color: #333; padding:8px 15px 8px 35px; -webkit-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
.accordion li:hover, .accordion li.open { background:#acd5ee; color: #FFF; }
.accordion li ul.submenu i { left: 15px; top:12px; font-size:16px; }
.submenu a:hover { color:#fff; background:#b8b8b8; }
.submenu li:hover { background:none; }
.submenu li.activeLI a { color:#fff; background:#b8b8b8; }
a.navIcon i.fa { font-style: inherit; font-size: 18px; }
/***********************************Main Panel**********************************/

.fieldSet.oneLineForm .colLeft { float: none !important; margin: 0 auto; }
.fieldSet.oneLineForm .colRight { float: none !important; margin: 0 auto; }
table.extraFull th:nth-child(2) {width: 40%;}
#disCode { font-size: 10px; line-height: 5px; }
#disniccode { font-size: 10px; line-height: 5px; }
#disCode label { line-height: 10px; }
#disniccode label { line-height: 10px; }
#defaultRoleAssignPopup ul { padding: 0; height: 350px; overflow-x: hidden; overflow-y: scroll; list-style: none; }
#defaultRoleAssignPopup ul li { padding: 7px 0; }
#defaultRoleAssignPopup ul li input { margin: 5px; }



/*dashbord css 21-04-17*/
.dashCounter { float: left; width:55%; margin-top:20px; }
.dashCounter ul { margin:0 -10px; }
.dashCounter ul li { list-style:none; margin:0; padding:0 10px; display:inline-block; text-align:center; width:49%; }
.dashCounter ul li span.countNO { display:block; text-align:center; height:150px; width:150px; background:#539dcc; color:#fff; border-radius:50%; margin:0px auto 30px; font-size:65px; padding-top:25px; }
.countBox { background:#f1f7fd; padding:30px 0; border:1px solid #539dcc; }
.countTitle { font-size:22px; }
.dashNotification { width:44%; float:left; margin-top:20px; padding-left:20px; }
.notifiInner ul { list-style:none; padding:0; margin:0; }
.notifiInner li p { margin-bottom: 0; font-weight:600; }
.notifiText { background: #f5f5f5; box-shadow: 0 1px 1px #eaeaea; margin-bottom: 15px; padding:15px 15px 15px 50px; position:relative; }
.notifiText:before { content:"\f0f3"; position:absolute; font-family: FontAwesome; font-size:20px; left:15PX; top:13PX; color:#136fa9; }
.notifiInner { box-shadow: 0 1px 6px 1px #ccc; padding: 15px; min-height:875px; }
.notifiInner h3 { border-bottom: 1px solid #ddd; font-size: 21px; padding-bottom: 5px; color:#136fa9; }
.goHere { font-size: 13px; text-decoration: none; }
.button.nicCodeBtn { margin-top: 7px; }
.nicCodeRow .alignLeft { margin-left: 32%; }
.regiDate .inputBoxOut { position: relative; }
.regiDate .ui-datepicker-trigger { background: rgba(0, 0, 0, 0) url("../img/calendar.png") no-repeat scroll left top; border: medium none; height: 24px; position: absolute; right: 7px; left:auto; text-indent: -9999px; top: 3px; width: 24px; }

.linGenFieldsNew .signupField { width:100%; margin:10px 0; }
.linGenFieldsNew .signupField label { width:50%; padding-left:15px; }
#lin_registration .linGenFieldsNew .error-message { padding-left:50%; }
.ui-dialog-content input[type="text"], .ui-dialog-content select { font-size:12px; }
.attached_file { padding:3px; border:1px solid #c0daec; background:#fff; width:100%; }
input[type=button]:focus, input[type=submit]:focus { background-color: #003f7a; color: #fff; }
.multiMenu { border-top:1px solid #acd5ee; }
.multiMenu, .multiMenu ul, .multiMenu li { list-style: none; }
.multiMenu ul { padding: 0; margin: 0 0 0 10px; }
.multiMenu { padding: 0px; margin: 0px; }
.multiMenu > li { margin:0; }
.multiMenu > li a { position:relative; }
.multiMenu > li a:before { content: "\f0da"; font-weight: normal; display: inline-block; font-family:FontAwesome; font-size:12px; /*text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding:0 5px;*/ line-height:normal; vertical-align:middle; position:absolute; top:10px; left:10px; color:#666; }
.multiMenu > li a:hover:before { color:#fff; }
.multiMenu > li li { margin:0; }
.multiMenu a { color: #333; display: block; outline: none; text-decoration: none; border-bottom:1px solid #acd5ee; }
.multiMenu > li a { font-weight:bold; }
.multiMenu > li li a { font-weight:normal; }
.multiMenu li > a > span { float: right; font-size: 19px; padding:2px 5px; font-weight: normal; display: inline-block; font-family:FontAwesome; font-size:14px; /*text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding:0 5px;*/ line-height:normal; vertical-align:middle; }
.multiMenu li > a:hover > span { color: #fff; }
.multiMenu li > a > span:before { /*content: '\25be';*/ content: "\f107"; }
.multiMenu li.openLi > a > span:before { /*content: '\25b4';*/ content: "\f106"; }
.multiMenu a:hover, .multiMenu li.active > a { background-color: #3580af; color: #f5f5f5; }
.multiMenu a:hover, .multiMenu li.active > a:before { color: #fff; }
.multiMenu > li.active > a { background-color: #539dcc; }
.multiMenu li a { font-size: 12px; line-height: 18px; padding: 7px 10px 7px 20px; }
.multiMenu > li > a { font-size: 13px; line-height: 20px; padding: 7px 10px 7px 20px; }
.panel-default > .panel-heading { background-color: #cde6ff!important; border-color: #ddd; color: #333; }




/*Footer */
.footerBottom { background-color:#539dcc; padding:10px 0; text-align:center; }
.footerLinksStrip { background:#000000; text-align:center; padding:10px 0 5px; }
.footerBottom .mrgB10 { margin-bottom:10px!important; }
.footerLinks { margin:0; padding:0; list-style:none; display:inline-block; }
.footerLinks li { display:inline-block; padding:0 20px; }

